.card {
  font-family: arial;
  font-size: 1.2em;
  text-align: center;
  color: black;
  background-color: white;
}

.character {
  font-size: 3em;
}

.pinyin {
  font-size: 2em;
}

.defs_wrapper > ol {
  display: inline-block;
  text-align: left;
}

@media (min-width: 480px) {
  /* Anki supports media queries :D */
  .defs_wrapper {
    margin-left: 15%;
    margin-right: 15%;
  }
}

.card1 {
  background-color: #ffffff;
}

.character.front > * {
  color: black !important;
}

.tone1 {
  color: #ff0000;
}

.tone2 {
  color: #d89000;
}

.tone3 {
  color: #00a000;
}

.tone4 {
  color: #0000ff;
}
